.indextable{
    border : 0;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
}

.main-header {
    text-align: center;
    background-color: #032553;
    width: 100%;
    height: 100px;
}